.usp-container {
    width: 100%;
    margin: auto;
    display: flex ;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
}
.usp-container img.usp-svg {
    width: 100px;
}
.usp-container h4 {
    font-weight: 400;
}
/* Media Query */
@media (min-width: 999px) {
    .usp-container {
        flex-direction: row;
    }
}